{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/8b8ca58c15.js" crossorigin="anonymous"></script>
    <title> {% block title %} {% endblock %} </title>
</head>
<body>
    <div>
        <div class="sticky-top" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
                <a class="navbar-brand" href="{% url 'shopifyapp:index' %}">
                    <img class="logo1" src="{% static 'img/logoshop.png' %}" alt="Logo">
                    <h class="logo2">Shopify</h>
                </a>
                <form class="d-flex" role="search" action="#" method="get">
                    {% csrf_token %}
                    <div class="search-container">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                        <input class="form-control me-2 search1" type="search" placeholder="Search for Products, Brands and More..." name="q" aria-label="Search">
                    </div>
                </form>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'shopifyapp:index' %}">
                                <i class="fa-solid fa-house"></i> HOME
                            </a>
                        </li>
                        <li class="nav-item dropdown"  style="margin-left: 10px;">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="homeDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i> USER
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="homeDropdown">
                                <li><a class="dropdown-item" href="">Login</a></li>
                                <li><a class="dropdown-item" href="">Register</a></li>
                                <li><a class="dropdown-item" href="">Logout</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown {% if 'shopifyeapp' in request.path %} active {% endif %}"  style="margin-left: 10px;">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="homeDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-list"></i> SHOP
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'shopifyapp:index' %}">All PRODUCTS</a></li>
                                  {% for cat in links %}
                                <li><a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a></li>
                                  {% endfor %}
                              </ul>
                        </li>
                        <li class="nav-item" style="margin-left: 10px;">
                            <a class="nav-link text-dark" href="">
                                <i class="fa-solid fa-cart-shopping"></i> CART
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
    </div>
       
        {% block content %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

        <footer>
            <div class="footer1" style="background-color: #eef2fb ">
                <p> &copy; Shopify Pvt Ltd. All rights reserved </p>
            </div>
        </footer>
    </div>
</body>
</html>


