{% extends 'base.html' %}
{% load static %}
{% block title %} 
    Sign Up
{% endblock %}
{% block content %}
<style>
    .reg-image{
    flex: 1;
    background: url("{% static 'img/registershop.avif' %}") no-repeat center center;
    background-size: cover;
}
</style>
<div class="reg-sec1">
    <div class="reg-sec2">
        <div class="reg-image"></div>
        <div class="reg-form">
            <h2>Create Account</h2>
            <p>Don't have an account? Register now and join us!</p>
            <div id="error"></div>
            <form action="#" method="POST" id="registration-form">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" id="username" required>
                <input type="email" name="email" placeholder="Email" id="email" required>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <div>
                    <input type="password" name="cpassword" id="cpassword"  placeholder="Confirm Password" required oninput="checkPasswordMatch();">
                    <span id="password-error"></span>
                </div>
                <button type="submit">sign up</button>
            </form>
        </div>
    </div>
</div>
<script>
    function checkPasswordMatch() {
        const password = document.getElementById('password').value;
        const cpassword = document.getElementById('cpassword').value;
        const errorMessage = document.getElementById('password-error');

        if (password !== cpassword) {
            errorMessage.style.display = 'inline'; // Show error message
            document.getElementById('cpassword').setCustomValidity("Passwords do not match."); // Set custom validity
        } else {
            errorMessage.style.display = 'none'; // Hide error message
            document.getElementById('cpassword').setCustomValidity(''); // Clear custom validity
        }
    }
</script>
{% endblock %}


